<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AOR_Extended_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AOR_Extended_WPF.Properties.Settings>
            <setting name="settingOnOff" serializeAs="String">
                <value />
            </setting>
            <setting name="settingNickname" serializeAs="String">
                <value />
            </setting>
            <setting name="settingHealth" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMounted" serializeAs="String">
                <value />
            </setting>
            <setting name="settingItems" serializeAs="String">
                <value />
            </setting>
            <setting name="settingItemsDev" serializeAs="String">
                <value />
            </setting>
            <setting name="settingSpells" serializeAs="String">
                <value />
            </setting>
            <setting name="settingSpellsDev" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDistance" serializeAs="String">
                <value />
            </setting>
            <setting name="settingGuild" serializeAs="String">
                <value />
            </setting>
            <setting name="settingSound" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDrawFilteredPlayers" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDrawFilteredGuilds" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDrawFilteredAlliances" serializeAs="String">
                <value />
            </setting>
            <setting name="mainWindowMarginX" serializeAs="String">
                <value />
            </setting>
            <setting name="mainWindowMarginY" serializeAs="String">
                <value />
            </setting>
            <setting name="itemsWindowMarginX" serializeAs="String">
                <value />
            </setting>
            <setting name="itemsWindowMarginY" serializeAs="String">
                <value />
            </setting>
            <setting name="itemsWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="itemsHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="buttonMarginX" serializeAs="String">
                <value />
            </setting>
            <setting name="buttonMarginY" serializeAs="String">
                <value />
            </setting>
            <setting name="settingItemsBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingChestGreen" serializeAs="String">
                <value />
            </setting>
            <setting name="settingChestBlue" serializeAs="String">
                <value />
            </setting>
            <setting name="settingChestPurple" serializeAs="String">
                <value />
            </setting>
            <setting name="settingChestYellow" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMistSolo" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMistDuo" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMistE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMistE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMistE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMistE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMistE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingCage" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonSolo" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonDuo" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonCorrupted" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonHellgate" serializeAs="String">
                <value />
            </setting>
            <setting name="settingFootTracksSolo" serializeAs="String">
                <value />
            </setting>
            <setting name="settingFootTracksGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="settingAllEnemies" serializeAs="String">
                <value />
            </setting>
            <setting name="settingNormalEnemy" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMediumEnemy" serializeAs="String">
                <value />
            </setting>
            <setting name="settingEnchantedEnemy" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMiniBossEnemy" serializeAs="String">
                <value />
            </setting>
            <setting name="settingBossEnemy" serializeAs="String">
                <value />
            </setting>
            <setting name="settingBossCrystalSpider" serializeAs="String">
                <value />
            </setting>
            <setting name="settingBossFairyDragon" serializeAs="String">
                <value />
            </setting>
            <setting name="settingBossVeilWeaver" serializeAs="String">
                <value />
            </setting>
            <setting name="settingBossGriffin" serializeAs="String">
                <value />
            </setting>
            <setting name="settingAvaloneDrones" serializeAs="String">
                <value />
            </setting>
            <setting name="settingShowUnmanagedEnemies" serializeAs="String">
                <value />
            </setting>
            <setting name="settingShowEventEnemies" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMinHP" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="settingEnemiesHP" serializeAs="String">
                <value />
            </setting>
            <setting name="settingEnemiesID" serializeAs="String">
                <value />
            </setting>
            <setting name="settingFiberE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingFiberE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingFiberE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingFiberE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingFiberE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingHideE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingHideE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingHideE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingHideE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingHideE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingWoodE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingWoodE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingWoodE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingWoodE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingWoodE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingRockE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingRockE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingRockE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingRockE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingRockE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOreE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOreE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOreE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOreE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOreE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDryadFiberE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDryadFiberE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDryadFiberE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDryadFiberE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDryadFiberE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingAnimalsHideE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingAnimalsHideE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingAnimalsHideE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingAnimalsHideE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingAnimalsHideE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingSpiritWoodE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingSpiritWoodE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingSpiritWoodE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingSpiritWoodE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingSpiritWoodE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalOreE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalOreE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalOreE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalOreE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalOreE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalRockE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalRockE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalRockE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalRockE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingElementalRockE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOtherE0" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOtherE1" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOtherE2" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOtherE3" serializeAs="String">
                <value />
            </setting>
            <setting name="settingOtherE4" serializeAs="String">
                <value />
            </setting>
            <setting name="settingFishingPool" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDebug" serializeAs="String">
                <value />
            </setting>
            <setting name="settingShowSize" serializeAs="String">
                <value />
            </setting>
            <setting name="settingShowHP" serializeAs="String">
                <value />
            </setting>
            <setting name="settingShowID" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreList" serializeAs="String">
                <value />
            </setting>
            <setting name="settingShowMap" serializeAs="String">
                <value />
            </setting>
            <setting name="settingStaticFiberEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingStaticHideEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingStaticOreEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingStaticWoodEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingStaticRockEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLivingFiberEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLivingHideEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLivingOreEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLivingWoodEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLivingRockEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLivingResourcesHP" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLivingResourcesID" serializeAs="String">
                <value />
            </setting>
            <setting name="settingRawSize" serializeAs="String">
                <value />
            </setting>
            <setting name="settingFishing" serializeAs="String">
                <value />
            </setting>
            <setting name="settingResourceSize" serializeAs="String">
                <value />
            </setting>
            <setting name="settingShowFish" serializeAs="String">
                <value />
            </setting>
            <setting name="settingMistEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonEnchants" serializeAs="String">
                <value />
            </setting>
            <setting name="settingWispCage" serializeAs="String">
                <value />
            </setting>
            <setting name="settingDungeonGroup" serializeAs="String">
                <value />
            </setting>
        </AOR_Extended_WPF.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PacketDotNet" publicKeyToken="451414c7667b2a58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.8.0" newVersion="1.4.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>